.android
Apps
.bash_history
.bash_logout
.byobu
.cache
.config
Desktop
Documents
Downloads
.esd_auth
.freemind
git
.git
.gnome
.ICEauthority
.IdeaIC2017.3
.java
.local
.m2
.mozilla
Music
.oracle_jre_usage
Pictures
.pki
Public
.ssh
Templates
Videos
.vim
.viminfo
